//Primary Colors
$primaryColor--black: rgba(19, 24, 44, 1);
$primaryColor--indigo: rgb(46, 102, 229, 1);
$primaryColor--white: rgb(255, 255, 255); 

//Secondary Colors
$secondaryColor--slate: rgba(92, 102, 126, 1);
$secondaryColor--cloud: rgba(189, 197, 213, 1);

//Background Colors
$backgroundColor--graphite: rgba(35, 41, 64, 1);
$backgroundColor--light-grey: rgba(247, 248, 249, 1);

//Supporting Colors
$supportingColor--green: rgba(21, 132, 99, 1);
$supportingColor--red: rgba(201, 69, 21, 1);