@use '../../../styles/partials/' as p;

.dropdown {
    @include p.input-layout;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../../../assets/Icons/arrow_drop_down-24px.svg');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 24px;

    &:invalid {
        border: none;
        outline: 1px solid p.$supportingColor--red;
    }

    &--option {
        color: red;
    }
}